<a href="https://colab.research.google.com/github/chandra-prakash-94/DSTT_Assignment/blob/main/22_27_04_DSTT_assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## Name  : CHANDRA PRAKASH
## Reg No: 22-27-04

**Question 1**

Given an array A of N numbers (int), WAP which prints the multiplication of the
elements of array A with the corresponding elements of the reverse of array A.
If A = [1,2,3], then reverse of A will be [3,2,1] and the result should be [3,4,3].

Input Format:
The first line of the input contains a number N The second line of the input contains
N numbers separated by a space. (after the last elements, there is no space)

Output Format:
Print the resultant array of elements separated by a space. (no space after the last
element)

In [ ]:
N= int(input())
A= [int(i) for i in input().split(" ")]
#A= list(map(int,input().split("")))

4
1 2 3 4

In [ ]:
#A = [1,2,3,4]
B=[]
for i in range(len(A)-1,-1,-1):
  B.append(A[i])
C=[]
for i in range(len(B)):
  C.append(A[i]*B[i])

In [ ]:
print(C)

[4, 6, 6, 4]

In [ ]:
for i in C:
  print(i, end=" ")

4 6 6 4

**Question 2**

Given a list of numbers (integers), find second maximum and second minimum in
this list.
Input Format:
The first line contains numbers separated by a space.
Output Format:
Print the second maximum and second minimum separated by a space

In [ ]:
A= [int(i) for i in input().split(" ")]

4 3 8 9

In [ ]:
A.sort()

In [ ]:
print("Second Maximum: ", A[-2])
print("Second Minimum: ", A[1])

Second Maximum:  8
Second Minimum:  4

**Question 3**

Given a list A of numbers (integers), you have to print those numbers which are not
multiples of 5.
Input Format:
The first line contains the numbers of list A separated by a space.
Output Format:
Print the numbers in a single line separated by a space which are not multiples of 5.
Example:
Input:
1 2 3 4 5 6 5
Output:
1 2 3 4 6
Explanation:
Here the elements of A are 1,2,3,4,5,6,5 and since 5 is the multiple of 5, after removing
them the list becomes 1,2,3,4,6.

In [ ]:
A= [int(i) for i in input().split(" ")]

1 2 3 4 5 6 5

In [ ]:
for i in A:
  if i%5!=0:
    print(i,end=" ")

1 2 3 4 6

**Question 4**

You are given a number A which contains only digits 0’s and 1’s. Your task is to
make all digits same by just flipping one digit (i.e. 0 to 1 or 1 to 0 ) only. If it is
possible to make all the digits same by just flipping one digit then print ’YES’ else
print ’NO’.
Input Format:
The first line contains a number made up of 0’s and 1’s.
Output Format:
Print ’YES’ or ’NO’ accordingly without quotes.
Example:
Input:
101
Output:
YES
Explanation:
If you flip the middle digit from 0 to 1 then all the digits will become same. Hence
output is YES.

In [1]:
n=str(input())

ones, zeroes = 0,0

for i in range(len(n)):
    if n[i] == '0':
        zeroes +=1
    elif n[i] == '1':
        ones +=1

if abs(ones-zeroes)==1:
    print("YES")
else:
    print("NO")

101
YES

**Question 5**

Given an integer number n, you have to print the factorial of this number.
Input Format:
A number n.
Output Format:
Print the factorial of n.
Example:
Input:
4
Output:
24

In [3]:
n=int(input())
nold=n
fact=1
while(n>0):
  fact = fact*n
  n =n-1

print(f'factorial of {nold} is: {fact}')

5
factorial of 5 is: 120

**Question 6**

Write a program, which will find all such numbers between m and n (both included)
such that each digit of the number is an even number.
Input Format:
The first line contains value m and n separated by a comma.
Output Format:
The numbers obtained should be printed in a comma-separated sequence on a single
line.
Constraints:
1000<=m<=9000
1000<=n<=9000

In [4]:
lst=[int(i) for i in input().split(",")]
m=lst[0]
n=lst[1]
items=[]
for i in range(m,n+1):
    s=str(i)
    if(int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0):
        items.append(s)

print(",".join(items))

100,400
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400